@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
  }

  nav{
    z-index: 999;
  }
  html,body{
    overflow-x: hidden;
}

  :root{
    --font-family-poppins: 'Poppins', sans-serif;
  }
  
  /*header*/

  .header{
    background: url(../img/empty-garage-interior\ 1.png) center/cover no-repeat;
    width: 100%;
    position: relative;

  }
  .header_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 291px;
  }


  .header_content h1{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 171px;
    margin-left: 122px;
  }

  .header_content p {
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 17px;
    margin-left: 122px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: 768px) {
    .header_content h1 {
        width: 80%; 
        font-size: 30px;
    }

    .header_content p {
        width: 80%;
        font-size: 16px; 
    }
    }



    /*-----------------filteri----------------*/

    .filter_section{
        background: rgba(246, 246, 246, 1);
        position: relative;
      }
      .wrapper{
        width: 1196px;
        margin: auto;
        height: 100%;
      }
      
      .filter_container{
        display: flex;
        list-style: none;
        justify-content:flex-start;
        align-items: start;
      }
      
      
      .filter_item{
        padding: 10px 20px 10px 70px;
        margin-right: 11px ;
        margin-top: 58px;
        margin-bottom: 74px;
        background: rgba(255, 255, 255, 1);
      }
      .share_item{
        font-family: var(--font-family-poppins);
        font-size: 14px;
        font-weight: 300;
        line-height: 18.2px;
        text-align: left;
        background: none;
      
        padding:10px 80px;
        margin-top: 58px;
        margin-bottom: 74px;
        width: 100%;
        margin-left: 460px;
      }

      .podeli_pretregu a{
        display: flex;
        justify-content: center;
        color: rgba(63, 63, 63, 1);
      }
      .podeli_pretregu a img {
        padding-right: 4px;
      }
      
      .filter_item .dropdown-toggle{
        font-family: var(--font-family-poppins);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
      }
       
      .filter_item span img{
        width: 14px;
        height: 7px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;      
      }
      
      .dropdown{
        position: relative;
      }
      
      .dropdown-content{
        display: none;
        position: absolute;
        list-style: none;
        text-align: center;
        justify-content: center;
        top: 105%;
        width: 100%;
        left: 0;
      }

      .bg_white{
        background: rgba(255, 255, 255, 1);
      }
      .filter_li li{
        padding-top: 20px;
        font-family: var(--font-family-poppins);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 20px;
        padding-right: 40px;
        color: rgba(63, 63, 63, 1);
        transition: color 0.3s ease, transform 0.3s ease;
      }
      
      .filter_li li:last-child{
        padding-bottom: 20px;
      }
      
      .filter_li li:hover{
        color: rgba(236, 34, 39, 1);
        transform: translateX(5px);
        font-weight: 600;
      }
      .dropdown:hover{
        cursor: pointer;
      }
      
      .show{
        display: block;
        width: fit-content;
      }
      .highlight {
        font-weight: 600;
        color: rgba(236, 34, 39, 1);
        font-size: 18px;
      }


      /*-------------------cards----------------------*/

      .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 84px;
      }

      .grid_container{
        display: flex;
        border: 1px solid rgba(209, 209, 209, 1);
      }

      .grid_container .card_left_side,
      .grid_container .card_right_side{
        flex: 1;
      }

      .grid_container .smaller{
        flex: 0.5;
      }

      .grid_container .card_left_side{
        background: url(../img/garaza_card_1.png);
        background-size: cover;
      }
      .grid_container .card_right_side{
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
      }
     
      .grid_container .card_right_side h2{
        font-family: var(--font-family-poppins);
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
        letter-spacing: 0.02em;
        text-align: left;
        
        margin-top:110px;
        color: rgba(63, 63, 63, 1);
        margin-left: 37px;
      }

      .grid_container .card_right_side .kvadratura{
        width: fit-content;
        height: 41px;
        background: rgba(236, 236, 236, 1);
        margin-top: 17px;
        margin-left: 37px;
        padding-right: 37px;
      }

      .grid_container .card_right_side .kvadratura p{
        font-family: var(--font-family-poppins);
        font-size: 22px;
        font-weight: 600;
        line-height: 20.35px;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgba(43, 43, 43, 1);
        padding-bottom: 10px;
      }

      .superscript {
        position: relative;
      }

      .superscript sup {
        position: relative;
        top: -0.1em;
        font-size: 15px;
      }

      .superscript sup.min{
        font-size: 8px;
      }

      .grid_container .card_right_side p{
        font-family: var(--font-family-poppins);
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        margin-top: 8px;
        color: rgba(43, 43, 43, 1);
        margin-left: 37px;
      }
      .btn{
        padding: 0;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
      }

      .btn_slider{
        width: fit-content;
        background: rgba(43, 43, 43, 1);
        font-family: var(--font-family-poppins);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        padding-top: 9px;
        color: rgba(255, 255, 255, 1);
        margin-top: 44px;
        padding-right: 22px;
        padding-bottom: 10px;
        padding-left: 22px;
        margin-left: 37px;
        margin-bottom: 44px;
      }


      /*--------------------link----------------------*/
      .link_prikazi_sve{
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 93px;
      }
      
      .link_prikazi_sve a {
        display: flex;
        align-items: center;
        font-family: var(--font-family-poppins);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: rgba(104, 104, 104, 1);
      
      }
      .link_prikazi_sve a img {
        padding-left: 5px;
      }