@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

nav{
  z-index: 999;
}
html,body{
  overflow-x: hidden;
}

:root{
    --ponuda_pozadina: #F6F6F6;
    --font-family-poppins: "Poppins", sans-serif;
    --font_color_black: #2B2B2B;
}

.wrapper{
  width: 92%;
  margin: auto;
  height: 100%;
}

.navbar_1{
  background-color: #2B2B2B;
}
.navbar1_container{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    align-items: center;
}

.navbar1_container a{
    font-family: var(--font-family-poppins);
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-decoration: none;
}

.language_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:15px;
}

.navbar1_container #eng{
    opacity: 40%;
    color: #FFFFFF;
}

.navbar1_container #vector{
    height: 32px;
    color: #EC2227;
}

.navbar1_container #srb{
    color: #FFFFFF;
}
.phone_container {
  display: flex;
  align-items: center; /* Vertically center content */
  gap: 10px;
}

.phone_container a img {
  width: 16px;
  height: 16px;
  vertical-align: middle; /* Align image vertically within the line */
}

.navbar1_container #number{
    font-family: var(--font-family-poppins);
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

/*navbar2*/

.navigation_bar{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar_item{
    height: 50px;
  }

  .navbar_item a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;


  }

  .navbar_item:first-child{
    margin-right: auto;
    
  }

  .arrow-img {
    width: 14px;
    height: 7px;
    margin-left: 5px;
}

  .dropdown{
    position: relative;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    list-style: none;
    width: fit-content;
  }
  .dropdown-content a{
    padding-bottom: 10px ;
    padding-right: 10px;
    transition: color 1s, 
  }
  .dropdown-content .uvuceno{
    padding-left: 38px;
    width: 230px;
  }

 .show{
    display: block;
    width: 230px;
  }

  .show_sidebar{
    display: block;
    width: 230px;
    background-color: #303030;
    z-index: 999;
  }
  .dropdown-content a:hover {
    color: red;
    font-weight: 600; 
  }

  

  /*----------hamburger-menu-------------------*/
  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #303030;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }

  .sidebar li{
    width: 100%;
  }

  .sidebar a{
    width: 100%;
  }

  .menu_button{
    display: none;
  }

  .close_menu_item{
    margin-left: 13%;
    margin-top: 20px;
  }


  

  @media(max-width:800px){
    .hideOnMobile{
      display: none;
    }

    .menu_button{
      display: block;
    }
  }

/*showcase*/


.showcase{
    background-color: #303030;
    background-image: url("../img/Property\ 1=Default.png");
    background-position: center;
    background-size: cover;
    width: 100%;
}

.showcase_content {
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 400px;
    padding-bottom: 170px;
    gap: 30px;
}
.showcase_content p {
    font-family:var(--font-family-poppins);
    margin: 0;
    text-align: center;
}

.first_row{
    font-size: 60px;
    font-weight: 275;
    line-height: 63.6px;
    letter-spacing: 0.055em;
}
.second_row{
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 84.8px;
    letter-spacing: 0.02em;
    padding-bottom: 34px;
}
.third_row{
    
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}

.arrow_down{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

/*section2*/

.section_2{
    background: linear-gradient(270deg, #3F3F3F 28.84%, #000000 145.15%);
}

.text_top{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 275;
    line-height: 51.6px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 152px;
    white-space: nowrap;
}

.text_bottom{
    color: #898989;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--font-family-poppins);
    margin-top: 150px;
    padding-bottom: 55px;


}

.text_bottom .bold{
    font-weight: 600;

}

.container{
    position: relative;
}

.overlapping_img{
    position: absolute;
    z-index: 1;
    right: 0px;
    padding-top: 28px;
}


/*ponuda*/
.section_ponuda{
    background-color: var(--ponuda_pozadina);
    overflow: hidden;
}

.ponuda_content{
    background-color: var(--ponuda_pozadina);
}

.ponuda_content h2{
    line-height: 37px;
    font-size: 40px;
    font-weight: 600;
    font-family: var(--font-family-poppins);
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--font_color_black);

    margin-top: 92px;
    padding-bottom: 0;

}

.ponuda_content p{
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: var(--font_color_black);
    margin-top: 11px;

}

/*------------------slider--------------------*/

.ponuda_container{
    margin-left: 125px;
    margin-top: 81px;
    position: relative;
    padding-bottom: 240px;

}
.grid_container{
    display: flex;
    width: 581px;
    height: 389px;
    border: 1px solid rgba(209, 209, 209, 1);
}
.card_left_side ,
.card_right_side {
    flex: 1;
}

.grid_container .card_left_side{
    background: linear-gradient(210.89deg, #6A6A6A 20.5%, #161616 113.41%);
    width: 265px;
    height: 387px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.grid_container.card_left_side img {
    max-width: 100%;
    max-height: 100%;
}

.grid_container .card_right_side{
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}
.grid_container .card_left_side:last-child{
    margin-bottom: 0px;
}

.grid_container .card_right_side h2{
    font-family: var(--font-family-poppins);
    font-size: 28px;
    font-weight: 600;
    line-height: 27.44px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top:90px;
    color: rgba(63, 63, 63, 1);
    margin-left: 30px;
}

.grid_container .card_right_side .kvadratura{
    width: fit-content;
    height: 41px;
    background: rgba(236, 236, 236, 1);
    margin-top: 40px;
    margin-left: 30px;
    padding-right: 15px;
}

.grid_container .card_right_side .kvadratura p{
    font-family: var(--font-family-poppins);
    font-size: 22px;
    font-weight: 600;
    line-height: 20.35px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(43, 43, 43, 1);
}

.superscript {
    position: relative;
  }
  
  .superscript sup {
    position: relative;
    top: -0.1em; /* Adjust the vertical position as needed */
    font-size: 15px; /* Adjust the font size as needed */
  }

  .grid_container .card_right_side p{
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-top: 8px;
    color: rgba(43, 43, 43, 1);
    margin-left: 30px;
  }

  .grid_container .card_right_side .footer_slider{
    background: rgba(236, 34, 39, 1);
    width: 316px;
    display: flex;
  }

  .grid_container .card_right_side .footer_slider p{
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;


  }

  .custom-prev, .custom-next {
    position: absolute;
    top: 120%;
    z-index: 999;
    cursor: pointer;
    background-color: rgba(43, 43, 43, 1);
    padding: 10px 26px 10px 26px;
    border: 1px solid #ccc;
  }
  .custom-prev {
    left: 0px;
    background-color: rgba(217, 217, 217, 1);
  }
  .custom-next {
    right: 200px;
  }
  .custom-prev img{
    transform: rotate(180deg);
  }
  .custom-prev img, .custom-next img{
    min-width: 59px;
    height: 21.5px;
  }

  .slider_bottom_text{
    position: absolute;
    min-width: 343px;
    height: 21px;
    left: 45%;
    transform: translate(-50%);
    top: 77%;

    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.345em;
    text-align: left;
    color: rgba(43, 43, 43, 1);
  }


/*aktuelni projekti*/

.aktuelni_projekti {
    background-color: #EC2227;
    overflow: hidden;
}


.aktuelni_projekti_content_top{
    overflow: hidden;
    box-shadow: inset 20em 0 15em rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;

}

.aktuelni_projekti_content_top h1{
    width: fit-content;
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
    padding-top: 60px;


}

.aktuelni_projekti_content_top p{
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 30px;


}

.aktuelni_projekti_content_bottom{
    background-color: #000000;
    background-image: url('../img/NOVELLA (21) 1.png');
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;

    box-shadow: inset 27em 1em 5em rgba(0, 0, 0, 1);
}

.aktuelni_projekti_content_bottom p{
    color: rgba(255, 255, 255, 1);
}

.apb_img{
    margin-top: 146px;
}

#apb_1{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 16px;
}

#apb_2{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-top: 2px;
}

#apb_3{
    font-family: var(--font-family-poppins);
    font-size: 28px;
    font-weight: 275;
    line-height: 42px;
    text-align: left;
    margin-top: 9px;
}

#apb_4{
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    margin-top: 25px;
    padding-bottom: 35px;
}


/*newsletter*/

.newsletter{
  background: linear-gradient(79.33deg, #FFFFFF 35.96%, #E1E1E1 71.15%);
  position: relative;
}

.newsletter_container{
  padding-bottom: 116px;
}
.newsletter_container p {
    padding-top: 118px;
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
}

.newsletter_container .bold{
    font-weight: 600;
}

.arrow_newsletter{
    width: 309.5px;
    height: 30px;
    margin-top: 345px;
}

.img_newsletter{
    position: absolute;
    width: 987px;
    height: 163px;
    bottom: 0;
    right: 0px;
    gap: 0px;
    opacity: 0px;

}

/*kontakt*/
.kontakt{
    background: linear-gradient(119.66deg, #3F3F3F 33.2%, #000000 84.96%);
}

.kontakt_container{
  padding-bottom: 120px;
  position: relative;
}


.kontakt_container h1{
    width: fit-content;
    padding-top: 112px;
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.kontakt_container p {
    margin-top: 13px;
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: left;
    color:rgba(255, 255, 255, 1);

}

.kontakt_form{
    width: 558px;
    height: 285px;
    margin-top: 65px;
}

#ime, #prezime, #email, #telefon{
    width: 271.14px;
    height: 39px;
    background-color: rgba(63, 63, 63, 1);
    padding: 10px 0px 10px 17px;
    margin-bottom: 14px;
    color: #F6F6F6;
    border: 1px solid rgba(159, 159, 159, 1);
}
#ime, #email{
    margin-right: 10px;
}


#poruka{
    background-color: rgba(63, 63, 63, 1);
    width: 558px;
    height: 123px;
    padding: 10px 17px;
    border: 1px solid rgba(159, 159, 159, 1);

}

#ime::placeholder,
#prezime::placeholder, 
#email::placeholder, 
#telefon::placeholder, 
#poruka::placeholder{
    color: #FFFFFF;
    font-family: var(--font-family-poppins);
}

#uslovi{
    margin-top: 36px;
    background-color: rgba(82, 82, 82, 1);
    width: 20px;
    height: 20px;
    border: none;

}

#uslovi_label{
    color: #FFFFFF;
    font-family: var(--font-family-poppins);
    padding-left: 8px;
    padding-bottom: 5px;
    margin-top: 36px;
}

#bussines_woman{
    position: absolute;
    width: 757px;
    height: 675px;
    right: 0;
    top: 0;
}

.fourth_row{
  display: flex;
  flex-direction: row;
}

/*footer*/
.footer{
  background: rgba(255, 255, 255, 1);
}

.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 103px;
  }

  .footer_logo{
    width: 170px;
    height: 96.82px;
  }
  
  ul {
    list-style-type: none;
    
  }
  
  .footer_list_item {
    margin-bottom: 10px; 
    font-family: var(--font-family-poppins);
  }
  .footer_list_item ul {
    padding-left: 13px; 
  }

  .footer_list_item ul li {
    margin-top: 9px;
  }
  
  .bold {
    font-weight: bold;
  }

  .non_bold{
    font-weight: 300;
  }
  .footer_excellent{
    width: 206px;
    height: 84px;
    padding-right: 0;

  }


  .red_box_container{
    background: linear-gradient(94.24deg, #EC2227 23%, #B6070D 66.65%);
    width: 100%;
    height: 75px; 
    gap: 0px;
    opacity: 0px;
    margin-top: 53px;
    margin-right: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;

  }

  .red_box_container p {
    width: 194px;
    height: 27px;
    gap: 0px;
    opacity: 0px;
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);

  }

  .red_box_container .bold{
    font-weight: 600;

  }

  .red_box_container img{
    width: 45%;
    height: 31.5px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
  }
  .footer_bottom{
    padding-bottom: 73px;
  }

  .footer_bottom img{
    width: 100%;
    height: 0px;
    margin-top: 35px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(191, 191, 191, 1);

  }
  .footer_bottom p {
    min-width: 119px;
    height: 18px;
    margin-top: 19px;
    gap: 0px;
    opacity: 0px;
    font-family: var(--font-family-poppins);
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
  }



/*button*/
.btn{
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}
.btn-red{
    background: rgba(236, 34, 39, 1);
    color: #F6F6F6;
    width: 200px;
    height: 50px;
    padding: 13px 59px 13px 60px;
    position: relative; /* Use relative positioning */
    top: 60px; /* Adjust vertical position */
    font-family: var(--font-family-poppins);
}

.btn-grey{
    background: rgba(43, 43, 43, 1);
    color: #F6F6F6;
    width: 200px;
    height: 50px;
    padding: 15.7px 60px 15.7px 54px;
    position: absolute; /* Use relative positioning */
    top: 181px; /* Adjust vertical position */
    right: 122px; /* Adjust horizontal position */
    text-align: center;

    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.btn-form{
    background: rgba(236, 34, 39, 1);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin-left:  80px;
    margin-top: 25px;
    padding-inline: 64px;
}

.btn_footer{
    width: 200px;
    height: 50px;
    gap: 0px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
    color:rgba(0, 0, 0, 1);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 13px;
}

.btn_slider{
    width: fit-content;
    height: 42px;
    background: rgba(43, 43, 43, 1);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    color: rgba(255, 255, 255, 1);
    margin-top: 48px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
    margin-left: 30px;
    margin-bottom: 25px;
}
@media screen and (max-width: 1100px){

  .text_top{
    font-size: 30px;
  }

  .text_bottom{
    margin-top: 130px;
  }

  .custom-next {
    right: 60px;
  }

  .slider_bottom_text{
    left: 49%;
  }

  .arrow_newsletter{
    margin-top: 180px;
  }

  .img_newsletter{
    width: 100%;
    height: auto;
  }

  .newsletter_container{
    padding-bottom: 156px;
  }

  .btn-grey{
    top: 360px;
  }

  .footer_list_item {
    font-size: 13px;
  }

  .footer_logo{
    width: 130px;
    height: 76px;
    margin-right: 10px;
  }
  .footer_excellent{
    width: 180px;
    height: 74px;
  }

  .red_box_container p{
    font-size: 14px;
    margin-left: 10px;
  }

  .red_box_container img{
    width: 30%;
  }

  .btn_footer{
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px){
  .navigation_bar .navbar_item a img{
    width: 80%;
  }

  .navigation_bar .navbar_item a {
    padding: 0;
  }

  .showcase{
    height: 100vh;
}

  .showcase_content{
    margin-top: 150px;
    gap: 20px;
    padding-bottom: 80px;
  }

  .first_row{
    font-size: 40px;
    line-height: 53.6px;
}
  .second_row{
  font-size: 60px;
  line-height: 54.8px;
  letter-spacing: 0em;
}

.third_row{
  font-size: 16px;
}

.third_row br{
  display: none;
}

  .wrapper{
    padding-inline: 20px;
  }

  .text_top{
    font-size: 20px;
    padding-top: 100px;
    line-height: 35.6px;
  }

  .text_bottom{
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    font-family: var(--font-family-poppins);
    margin-top: 80px;
    padding-bottom: 55px;
  }
  .text_bottom br{
    display: none;
  }

  .ponuda_content h2{
    font-size: 35px;
    margin-top: 72px;
  }

  .ponuda_content p{
    font-size: 16px;
    margin-top: 32px;
  }
  .ponuda_content p br{
    display: none;
  }
  /*---slider---*/

  .ponuda_container {
    margin-left: 13px;
  }

  .grid_container {
    width: 95%; 
    height: auto; 
    flex-direction: column; 
  }

  .grid_container .card_left_side,
  .grid_container .card_right_side {
    width: 100%; 
    height: 50%; 
  }

  .grid_container .card_left_side img {
    width: 60%;
    height: 200px;
    max-width: none; 
    max-height: none;
  }

  .grid_container .card_right_side h2,
  .grid_container .card_right_side .kvadratura,
  .grid_container .card_right_side p,
  .grid_container .card_right_side .btn_slider {
    margin-left: 10px;
    margin-top: 10px; 
  }

  .grid_container .card_right_side .footer_slider{
    width: 100%;
  }

  .slider_bottom_text {
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
    top: 70%; /* Adjust vertical positioning */
  }

  .custom-next {
    right: 13px; /* Align to the right edge */
  }


  /*----------aktuelni projekti----------------*/

  .aktuelni_projekti_content_top h1{
    font-size: 35px;
  }

  
  .aktuelni_projekti_content_top p{
    font-size: 14px;
    padding-inline: 20px;
  }

  .aktuelni_projekti_content_top p br{
    display: none;
  }

  .aktuelni_projekti_content_bottom {
    height: auto;
    background-size: cover;
    box-shadow: none; 
    background-position:70%;
    background-image: 
    linear-gradient(90deg, #000000 55.8%, rgba(0, 0, 0, 0) 99.8%),
    url('../img/NOVELLA (21) 1.png');
  }

  .apb_img{
    margin-top: 35px;
}

#apb_1{
  font-size: 30px;
  margin-top: 10px;
}
#apb_2{
  font-size: 30px;
  margin-top: 0px;
  line-height: 33px;
}

#apb_2 br{
  display: none;
}


#apb_3{
  font-size: 20px;
}

#apb_4{
  font-size: 13px;
  margin-top: 5px;
  padding-bottom: 100px;
  line-height: 20px;
}
#apb_4 br{
  display: none;
}

.btn-red{
  top: -60px;
}

/*newsletter*/

.btn-grey{
  top: 300px; /* Adjust vertical position */
  right: 130px; /* Adjust horizontal position */
}
.newsletter_container{
  padding-bottom: 150px;
}
.newsletter_container p{
  font-size: 16px;
}

.newsletter_container p br{
  display: none;
}
.arrow_newsletter{
  width: 259.5px;
  height: 30px;
  margin-top: 175px;
}

.img_newsletter{
  width: auto;
  height: auto;
  left: 0;
}

/*-----kontakt---------------*/

.kontakt_container {
  padding-bottom: 200px; /* Adjust padding for smaller screens */
}

.kontakt_container h1 {
  font-size: 30px; /* Decrease font size for smaller screens */
  padding-top: 70px;
}

.kontakt_container  br{
 display: none;
}

.kontakt_form {
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 400px; /* Set max-width for the form */
  margin-top: 40px; /* Adjust margin for smaller screens */
}

.form-row {
  flex-direction: column; /* Stack form elements vertically on smaller screens */
  margin-bottom: 5px; /* Add spacing between form rows */
}

#ime,
#prezime,
#email,
#telefon,
#poruka {
  width: 100%; /* Set width to 100% for responsiveness */
}

#uslovi_label {
  margin-top: 20px; /* Adjust margin for smaller screens */
}
.kontakt.kontakt_container.wrapper{
  padding: 0;
}
.form-row{
  display: flex;
  flex-direction: column;
}
.fourth_row label{
  font-size: 13px;
}

.btn-form{
  margin-left: 10px;
  padding-inline: 40px;
}

/*---------------footer-----------------*/

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.footer_logo {
  margin-bottom: 30px; /* Add space below the logo */
}
.footer_excellent{
  display: none;
}

.red_box_container {
  width: 100%; /* Set width to 100% */
  margin-top: 30px; /* Adjust margin for smaller screens */
  margin-right: 0; /* Remove right margin */
}

.red_box_container p {
  width: auto; /* Set width to 100% */
  text-align: center; /* Center align text */
  font-size: 14px;
  margin-left: 10px;
  line-height: 18px;
}

.red_box_container img {
  display: none; /* Hide the arrow image on smaller screens */
}

.footer_bottom {
  text-align: center; /* Center align text */
}

.footer_bottom img {
  display: none; /* Hide the line image on smaller screens */
}

.btn_footer{
  font-size: 14px;
  margin-right: 10px;
}

}

@media screen and (width >1250px){
  .wrapper{
    width: 80%;
  }
}
