@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
  }

  nav{
    z-index: 999;
  }
  html,body{
    overflow-x: hidden;
}

  :root{
    --font-family-poppins: 'Poppins', sans-serif;
  }
  
  /*header*/

  .header{
    background: 
    linear-gradient(234.84deg, #000000 7.11%, rgba(0, 0, 0, 0) 47.59%, #000000 89.79%),
    url(../img/stan_bg.png) center/cover no-repeat;
    width: 100%;
    position: relative;

  }
  .header_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 188px;
  }


  .header_content h1{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 171px;
    margin-left: 122px;
  }

  .header_content p {
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 17px;
    margin-left: 122px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: 768px) {
    .header_content h1 {
        width: 80%; 
        font-size: 30px;
    }

    .header_content p {
        width: 80%;
        font-size: 16px; 
    }
    }


    /*---------------------stan info-----------------*/

    .wrapper{
        width: 1216px;
        margin: auto;
        height: 100%;
      }

    .top_link a{
        font-family: var(--font-family-poppins);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-decoration: underline;
        color: rgba(104, 104, 104, 1);
        margin-top: 25px;
    }

    .top_link img{
        margin-top: 101px;
        padding-right: 4px;
    }

    .info_top{
      display: flex;
    }

    .top_left {
      display: flex;
      flex-direction: column;
      margin-right: 108px;
      margin-top: 65px;
    }
    
    .velicina_dostupnost,
    .broj_stana,
    .nivo,
    .nivo_img {
      display: flex;
    }
    
    .kljuc-vrednost {
      display: flex;
    }

    .velicina_dostupnost h2{
      font-family: var(--font-family-poppins);
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      text-align: left;
      color: rgba(0, 0, 0, 1);
      padding-top: 7px;
    }

    .velicina_dostupnost p{
      font-family: var(--font-family-poppins);
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      text-align: left;
      color: rgba(0, 0, 0, 1);
      margin-left: 12px;
    }

    .velicina_dostupnost .green{
      background: rgba(0, 151, 24, 1);
      font-family: var(--font-family-poppins);
      font-size: 18px;
      font-weight: 700;
      line-height: 16.65px;
      letter-spacing: 0.02em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      margin-left: 37px;
      padding-left: 36px;
      padding-right: 36px;
      padding-top: 20px;
    }

    .broj_stana{
      margin-top: 39px;
    }
    .kljuc-vrednost{
      margin-right: 25px;
    }

    .broj_stana .kljuc-vrednost .grey{
      background: rgba(71, 71, 71, 1);
    }
    .broj_stana .kljuc-vrednost .grey p{
      font-family: var(--font-family-poppins);
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      text-align: left;
      padding: 10px 47px 10px 47px;
      color: rgba(255, 255, 255, 1);
    }

    .broj_stana .kljuc-vrednost .red{
      background: rgba(236, 34, 39, 1);
    }

    .broj_stana .kljuc-vrednost .red p {
      font-family: var(--font-family-poppins);
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      text-align: left;
      padding: 10px 16px 5px 20px;
      color: rgba(255, 255, 255, 1);
    }


    .nivo{
      margin-top: 100px;
      margin-left: 80px;
      margin-bottom: 15px;
    }

    .nivo .nivo_levo{
      margin-right: 196px;
    }
    .nivo p {
      font-family: var(--font-family-poppins);
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      text-align: left;
      color: rgba(0, 0, 0, 1);
    }

    .nivo_img :first-child{
      margin-right: 45px;
    }

    .top_right{
      margin-top: 78px;
    }


    .info_bottom{
      display: flex;
      margin-top: 51px;
      gap: 169px;
      padding-bottom: 74px;
    }

    .bottom_left{
      font-family: var(--font-family-poppins);
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      text-align: left;
      color: rgba(0, 0, 0, 1);
      margin-top: 41px;
    }

    /*-------------------------------tabele-------------------------*/

    .tabela{
      background: linear-gradient(318.48deg, #3F3F3F 7.82%, #000000 121.48%);
      position: relative;
    }

    .tabela_container{
      display: flex;
      justify-content: space-between;
      gap: 160px;
      padding-top: 69px;
      padding-bottom: 75px;
      z-index: 999;
    }

    .tabela #bg_img_table{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 0;
      opacity: 70%;

    }

    .tabela_container .tabela_left_side table{
      width: 414px;
      border-collapse: separate;
      border-spacing: 10px 0px;
    }

    .tabela_container .tabela_left_side th,
    .tabela_container .tabela_left_side td{
      padding-left: 16px;
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .tabela_container .tabela_left_side th{
      background: rgba(236, 34, 39, 1);
      font-family: var(--font-family-poppins);
      font-size: 14px;
      font-weight: 600;
      line-height: 18.2px;
      letter-spacing: 0.015em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }

    .tabela_container .tabela_left_side tr:nth-child(2n) td{
      background: rgba(217, 217, 217, 1);
    }

    .tabela_container .tabela_left_side tr:nth-child(2n+1) td{
      background: rgba(241, 241, 241, 1);
    }

    .tabela_container .tabela_left_side td{
      font-family: var(--font-family-poppins);
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      letter-spacing: 0.015em;
      text-align: left;
    }

    .tabela_container .tabela_left_side td:first-child{
      width: 306px;
    }


    .second_tabela{
      margin-top: 50px;
    }

    .povrsina_lokala{
      margin-top: 50px;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      background: rgba(236, 34, 39, 1);
      font-family: var(--font-family-poppins);
      font-size: 14px;
      font-weight: 600;
      line-height: 18.2px;
      letter-spacing: 0.015em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }

    .preuzmi_pdf{
      margin-top: 148px;
      display: flex;
      flex-direction: column;
      margin-left: 10px;
    }

    .preuzmi_pdf p{
      font-family: var(--font-family-poppins);
      font-size: 16px;
      font-weight: 400;
      line-height: 13.76px;
      letter-spacing: -0.03em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }

    .preuzmi_pdf a {
      margin-top: 26px;
      text-decoration: underline;
      font-family: var(--font-family-poppins);
      font-size: 14px;
      font-weight: 400;
      line-height: 12.04px;
      letter-spacing: -0.03em;
      text-align: left;
      color: rgba(138, 138, 138, 1);
      display: flex;
      align-items: center;
    }

    .preuzmi_pdf a img{
      padding-right: 10px;
    }


    /*---------------baneer-----------------*/

    .banner_stan{
      background: rgba(228, 228, 228, 1);
    }

    .banner_container{
      padding-top: 120px;
      padding-bottom: 120px;
    }
    .banner{
      background: 
      linear-gradient(87.44deg, #000000 30.15%, rgba(0, 0, 0, 0) 65.44%),
        url(../img/banner_img.png) right no-repeat;
      font-family: var(--font-family-poppins);
      display: flex;
      flex-direction: column;
    }
    
    .banner h1{
      margin-left: 105px;
      margin-top: 65px;
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
    
    .banner p {
      font-size: 18px;
      font-weight: 300;
      line-height: 27px;
      text-align: left;
      margin-left: 105px;
      margin-top: 15px;
      color: rgba(255, 255, 255, 1);
    }
    
    .banner a{
      background: rgba(236, 34, 39, 1);
      color: rgba(255, 255, 255, 1);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      text-decoration: none;
      width: fit-content;
      padding: 13px 52px;
      margin-left: 105px;
      margin-top: 50px;
      margin-bottom: 60px;
    }


/*------------------slider-------------------*/

.slider_container{
  padding-top: 160px;
  padding-bottom: 100px;
}

.slider_image img{
  width: 372px;
  height: 459px;
}


.custom-prev-stan, .custom-next-stan {
  position: absolute;
  top: 50%;
  z-index: 999;
  cursor: pointer;
}
.custom-prev-stan {
  left: -10%;
}
.custom-next-stan {
  right: -10%;
}


/*----------------slicno u ponudi----------------*/

.slicno_u_ponudi{
  background-color:rgba(191, 191, 191, 1);
}
.slicno_u_ponudi .slicno_u_ponudi_top_content{
  padding-top: 115px;
}

.slicno_u_ponudi .slicno_u_ponudi_top_content h1{
  font-family: var(--font-family-poppins);
  font-size: 40px;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.slicno_u_ponudi .slicno_u_ponudi_top_content p{
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color:rgba(0, 0, 0, 1);
  margin-top: 11px;
}



/*-------------------cards----------------------*/

.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 154px;
}

.grid_container{
  display: flex;
  width: 581px;
  height: 389px;
  border: 1px solid rgba(209, 209, 209, 1);
}
.card_left_side ,
.card_right_side {
  flex: 1;
}

.grid_container .card_left_side{
  background: linear-gradient(210.89deg, #6A6A6A 20.5%, #161616 113.41%);
  width: 265px;
  height: 387px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.grid_container.card_left_side img {
  max-width: 100%;
  max-height: 100%;
}

.grid_container .card_right_side{
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  background-color: #ffff;
}

.grid_container .card_right_side h2{
  font-family: var(--font-family-poppins);
  font-size: 28px;
  font-weight: 600;
  line-height: 27.44px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top:90px;
  color: rgba(63, 63, 63, 1);
  margin-left: 30px;
}

.grid_container .card_right_side .kvadratura{
  width: fit-content;
  height: 41px;
  background: rgba(236, 236, 236, 1);
  margin-top: 40px;
  margin-left: 30px;
  padding-right: 15px;
}

.grid_container .card_right_side .kvadratura p{
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-weight: 600;
  line-height: 20.35px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(43, 43, 43, 1);
}

.superscript {
  position: relative;
}

.superscript sup {
  position: relative;
  top: -0.1em; /* Adjust the vertical position as needed */
  font-size: 15px; /* Adjust the font size as needed */
}

.superscript sup.min{
  font-size: 8px;
}

.grid_container .card_right_side p{
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 8px;
  color: rgba(43, 43, 43, 1);
  margin-left: 30px;
}

.grid_container .card_right_side .footer_slider{
  background: rgba(236, 34, 39, 1);
  width: 316px;
  display: flex;
}

.grid_container .card_right_side .footer_slider p{
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn{
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.btn_slider{
  width: fit-content;
  height: 42px;
  background: rgba(43, 43, 43, 1);
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  color: rgba(255, 255, 255, 1);
  margin-top: 48px;
  padding-right: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  margin-left: 30px;
  margin-bottom: 25px;
}

.link_prikazi_sve{
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 93px;
}

.link_prikazi_sve a {
  display: flex;
  align-items: center;
  font-family: var(--font-family-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: rgba(104, 104, 104, 1);

}
.link_prikazi_sve a img {
  padding-left: 5px;
}






    




    