*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
  }

  nav{
    z-index: 999;
  }
  html,body{
    overflow-x: hidden;
}

  :root{
    --font-family-poppins: 'Poppins', sans-serif;
  }

  .navigation_bar{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar_item{
    height: 50px;
  }

  .navbar_item a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-family: var(--font-family-poppins);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;


  }

  .navbar_item:first-child{
    margin-right: auto;
  }
  .navbar_item:last-child{
    margin-right: 126px;
  }
  .arrow-img {
    width: 14px;
    height: 7px;
    margin-left: 5px;
}

  .dropdown{
    position: relative;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    list-style: none;
  }

 .show{
    display: block;
  }


  /*header*/

  .header{
    background-image: url(../RapidEssence/img_rapid_essence/header_bacground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .header_content h1{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 145px;
  }

  .header_content p {
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    padding-bottom: 250px;

  }

  @media only screen and (max-width: 768px) {
    .header_content h1 {
        width: 80%; 
        font-size: 30px;
    }

    .header_content p {
        width: 80%;
        font-size: 16px; 
    }
}

/*---------------section poslovanje-------------------------*/

.poslovanje_container{
  background: rgba(246, 246, 246, 1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

}

.poslovanje_content_top p{
    width: 731px;
    height: 324px;
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;

    margin-top: 130px;

}

.bold{
    font-weight: 600;
}


.poslovanje_content_bottom h1{
    width: fit-content;
    height: 37px;
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(43, 43, 43, 1);

    margin-top: 226px;

}

.poslovanje_content_bottom p{
    width: 392px;
    height: 27px;
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    color: rgba(43, 43, 43, 1);
    margin-top: 13px;
    margin-left: 94px;
}

.card_container{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 30px;
   margin-top: 92px;
   margin-bottom: 245px;
}

.card_item{
    width: 380px;
    height: 550px;
    gap: 0px;
    opacity: 0px;
    position: relative;
}

.card_item img {
    position: absolute;
    top: 60px;
    left: 55px;
    width: 34.58px;
    height: 52px;
    gap: 0px;
    opacity: 0px;
}
.card_item h2{
    position: absolute;
    width: 94px;
    height: 31px;
    top: 320px;
    left: 55px;
    gap: 0px;
    opacity: 0px;

    font-family: var(--font-family-poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 30.6px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    z-index: 1;

}

.card_item p {
    position: absolute;
    width: 268px;
    height: 135px;
    top: 376px;
    left: 55px;
    gap: 0px;
    opacity: 0px;
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
}

.card_container .card_1{
    position: relative;
    background-image: url(../RapidEssence/img_rapid_essence/car1_picture.png);
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.card_container .card_1::before , .card_container .card_2::before , .card_container .card_3::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg, #000000 26.82%, rgba(0, 0, 0, 0) 82.36%);
    mix-blend-mode: multiply;
    z-index: 1;
}

.card_container .card_2{
    background-image: url(../RapidEssence/img_rapid_essence/card2_bg.png);
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.card_container .card_3{
    background-image: url(../RapidEssence/img_rapid_essence/card3_bg.png);
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.card_container .card_2 img{
    width: 60px;
    height: 60px;
}
.card_container .card_3 img{
    width: 49px;
    height: 49px;
}

.poslovanje #poslovanje_asset{
    position: absolute;
    top: 478px;
    right: 0;
    gap: 0px;
    opacity: 0.3px;

}

@media only screen and (max-width: 768px) {
    .poslovanje_content_top p {
        width: 90%; 
        height: auto; 
        top: 50px; 
        font-size: 16px; 
        line-height: 24px; 
    }

    .poslovanje_content_bottom h1 {
        width: 90%; 
        height: auto; 
        font-size: 30px; 
        line-height: 1.2; 
        transform: translate(-50%, -50%); 
    }

    .poslovanje_content_bottom p {
        width: 90%; 
        height: auto; 
        font-size: 16px; 
        line-height: 1.5; 
        transform: translate(-50%, -50%); 
    }

    .card_container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        left: 32%;
        height: auto;
    }
    
}

/*----------------------prezentacije------------------------*/

.prezentacije_container{
  background: linear-gradient(315.88deg, #3F3F3F 0.84%, #000000 121.57%);
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.prezentacije_container .prezentacije{
  margin-top: 223px;
  margin-left: 222px;
}

.prezentacije_container h1{
  font-family: var(--font-family-poppins);
  font-size: 32px;
  font-weight: 600;
  line-height: 40.8px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.prezentacije_container p {
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 300;
  line-height: 30.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.prezentacije_container .prezentacije h1{
  width: 357px;
  height: 82px;
}

.prezentacije_container .prezentacije p{
  width: 637px;
  height: 124px;
  margin-top: 36px;
}

.prezentacije_container .prilagodjavanje{
  margin-left: 50%;
  margin-top: 339px;
}

.prezentacije_container .prilagodjavanje h1{
  width: 400px;
  height: 82px;
}

.prezentacije_container .prilagodjavanje p{
  width: 690px;
  height: 124px;
  margin-top: 30px;
}

.prezentacije_container .pomoc{
  margin-left: 222px;
  margin-top: 307px;
}

.prezentacije_container .pomoc h1{
  width: 527px;
  height: 72px;
}

.prezentacije_container .pomoc p{
  width: 690px;
  height: 155px;
  margin-bottom: 326px;
}


/*prezentacije img*/

.prezentacije_container img {
  position: absolute;
  opacity: 0.7;

}

.prezentacije_container #number1{
  left: 134px;
  top: 129px;
}

.prezentacije_container #number2{
  left: 42%;
  top: 704px;
}

.prezentacije_container #number3{
  left: 105px;
  top: 1243px;
}

.prezentacije_container #vr{
  left: 719px;
  top: 75px;
}

.prezentacije_container #hand{
  left: 13%;
  top: 652px;
}

.prezentacije_container #woman{
  left: 760px;
  top: 1149px;
}

/*----------------banner-------------------------*/

.banner_container{
  width: 100%;
  min-height: 98px;
  background: linear-gradient(90.14deg, #000000 2.96%, #FF0000 155.18%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner_container p {
  width: 343px;
  height: 21px;
  font-family: var(--font-family-poppins);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.345em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
/*----------tablet-------------*/

@media screen and (max-width: 1100px){
  .card_container{
    gap: 10px;
  }

  .card_item{
    width: 320px;
    height: 490px;
  }

  .card_item h2{
    top: 300px;
  }

  .card_item p {
    font-size: 16px;
    top: 346px;
  }
  .prezentacije_container #number2{
    left: 40%;
    top: 704px;
  }
  .prezentacije_container #hand{
    left: 10%;
    top: 652px;
  }

  .prezentacije_container #woman{
    left: 660px;
    top: 1149px;
  }
}

/*----------telefon----------*/
@media screen and (max-width: 700px){

  .header_content h1{
    font-size: 50px;
    line-height: 47px;
  }
  .header_content p {
    font-size: 28px;
    margin-top: 20px;
  }
  .poslovanje_content_top p {
    margin-top: 90px;
    margin-left: 20px;
    font-size: 16px;
  }

  .poslovanje_content_bottom h1{
    font-size: 30px;
    transform: none;
    margin-top: 150px;
  }
  .poslovanje_content_bottom p{
    margin-top: 20px;
    transform: none;
    margin-left: 10px;
  }
  .card_container{
    gap: 20px;
    margin-bottom: 150px;
  }
  .card_item{
    width: 300px;
    height: 470px;
  }
  .card_item:first-child{
    height: 500px;
  }

  .card_item img{
    left: 30px;
  }

  .card_item h2{
    top: 280px;
    left: 30px;
  }
  .card_item p{
    top: 320px;
    font-size: 16px;
    left: 30px;
  }

  /*-----prezentacije-----------------*/

  .prezentacije_container .prezentacije{
    margin-top: 190px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .prezentacije_container h1{
    font-size: 25px;
    z-index: 2;
  }

  .prezentacije_container p{
    font-size: 14px;
  }

  .prezentacije_container .prezentacije p{
    width: auto;
  }
  .prezentacije_container .prezentacije p br{
    display: none;
  }
  .prezentacije_container #number1{
    left: 34px;
    top: 129px;
  }

  .prezentacije_container .prilagodjavanje{
    margin-left: 22px;
    margin-top: 159px;
    margin-right: 22px;
  }

  .prezentacije_container .prilagodjavanje h1 {
    width: 320px;
  }
  .prezentacije_container .prilagodjavanje p {
    width: auto;
  }

  .prezentacije_container .prilagodjavanje h1 br{
    display: none;
  }

  .prezentacije_container #number2{
    left: 34px;
    top: 490px;
  }

  .prezentacije_container #hand{
    left: 40%;
    top: 32%;
    height: 300px;
    width: 300px;
    z-index: -1;
  }

  .prezentacije_container #woman{
    left: 40%;
    top: 60%;
    height: 300px;
    width: 300px;
    z-index: -1;
  }
  .prezentacije_container #vr{
    left: 40%;
    top: 0%;
    height: 300px;
    width: 300px;
    z-index: -1;
  }

  .prezentacije_container .pomoc{
    margin-left: 22px;
    margin-top: 159px;
    margin-right: 22px;
  }

  .prezentacije_container .pomoc h1{
    width: 320px;
    height: 72px;
  }

  .prezentacije_container .pomoc p{
    width: auto;
    height: 155px;
    margin-bottom: 190px;
    margin-top: 30px;
  }

  .prezentacije_container #number3{
    left: 22px;
    top: 893px;
  }

  /*----banner------------*/

  .banner_container p{
    width: auto;

  }
  
}





