@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
  }
  body{
    min-height: 100vh;
  }

  nav{
    z-index: 999;
  }
  html,body{
    overflow-x: hidden;
}

  :root{
    --font-family-poppins: 'Poppins', sans-serif;
  }

  /*header*/

  .header{
    background: 
    linear-gradient(240.75deg, #000000 -16.14%, rgba(0, 0, 0, 0) 43.62%),
    url(../img/header_bg.png) center/cover no-repeat;
    width: 100%;
    position: relative;
    box-shadow: 60px -72px 97px 30px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 60px -72px 97px 30px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 60px -72px 97px 30px rgba(0,0,0,0.75) inset;

  }
  .header_content{
    display: flex;
    flex-direction: column;
    padding-bottom: 188px;
  }


  .header_content h1{
    font-family: var(--font-family-poppins);
    font-size: 40px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 171px;
  }

  .header_content p {
    font-family: var(--font-family-poppins);
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 17px;
    padding-bottom: 30px;
  }

  @media only screen and (max-width: 768px) {
    .header_content h1 {
        width: 80%; 
        font-size: 30px;
    }

    .header_content p {
        width: 80%;
        font-size: 16px; 
    }
}


/*------------------------filteri---------------------*/

.filter_section{
  background: rgba(246, 246, 246, 1);
  position: relative;
}

.filter_container{
  display: flex;
  list-style: none;
  justify-content:flex-start;
  align-items: start;
  flex-wrap: wrap;
}


.filter_item{
  padding: 10px 20px 10px 70px;
  margin-right: 11px ;
  margin-top: 58px;
  margin-bottom: 74px;
  background: rgba(255, 255, 255, 1);
}
.share_item{
  font-family: var(--font-family-poppins);
  font-size: 14px;
  font-weight: 300;
  line-height: 18.2px;
  text-align: left;
  background: none;

  padding:10px 80px;
  margin-top: 58px;
  margin-bottom: 74px;
  width: 100%;
}
.podeli_pretregu{
  width: 100%;
}

.podeli_pretregu a{
  display: flex;
  justify-content: center;
  color: rgba(63, 63, 63, 1);
  width: 100%;
}
.podeli_pretregu a img {
  padding-right: 4px;
}

.filter_item .dropdown-toggle{
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
 
.filter_item span img{
  width: 14px;
  height: 7px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;      
}

.dropdown{
  position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  list-style: none;
  text-align: center;
  justify-content: center;
  top: 105%;
  width: 100% !important;
  left: 0;
  z-index: 999;
}

.bg_white{
  background: white;
}
.filter_li li{
  padding-top: 20px;
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 40px;
  color: rgba(63, 63, 63, 1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.filter_li li:last-child{
  padding-bottom: 20px;
}

.filter_li li:hover{
  color: rgba(236, 34, 39, 1);
  transform: translateX(5px);
  font-weight: 600;
}
.dropdown:hover{
  cursor: pointer;
}

.show{
  display: block;
}
.highlight {
  font-weight: 600;
  color: rgba(236, 34, 39, 1);
  font-size: 18px;
}


#selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  padding-bottom: 30px;
}

#selectedItemsContainer p {
  background: rgba(246, 246, 246, 1);
  border: 1px solid;
  padding-block: 10px; 
  padding-left: 60px;
  color: rgba(63, 63, 63, 1);
  font-family: var(--font-family-poppins);
}

.close-icon{
  padding-left: 50px;
  padding-right: 10px;
  cursor: pointer;
  color: rgba(176, 176, 176, 1);
  width: 7.5px;
  height: 7.5px;
}





/*-------------------cards----------------------*/

.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 84px;
}

.grid_container{
  display: flex;
  width: 581px;
  height: 389px;
  border: 1px solid rgba(209, 209, 209, 1);
}
.card_left_side ,
.card_right_side {
  flex: 1;
}

.grid_container .card_left_side{
  background: linear-gradient(210.89deg, #6A6A6A 20.5%, #161616 113.41%);
  width: 265px;
  height: 389px;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}

.grid_container.card_left_side img {
  max-width: 100%;
  max-height: 100%;
}

.grid_container .card_right_side{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  background-color: white;
}

.grid_container .card_right_side h2{
  font-family: var(--font-family-poppins);
  font-size: 28px;
  font-weight: 600;
  line-height: 27.44px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top:90px;
  color: rgba(63, 63, 63, 1);
  margin-left: 30px;
}

.grid_container .card_right_side .kvadratura{
  width: fit-content;
  height: 41px;
  background: rgba(236, 236, 236, 1);
  margin-top: 40px;
  margin-left: 30px;
  padding-right: 15px;
}

.grid_container .card_right_side .kvadratura p{
  font-family: var(--font-family-poppins);
  font-size: 22px;
  font-weight: 600;
  line-height: 20.35px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(43, 43, 43, 1);
}

.superscript {
  position: relative;
}

.superscript sup {
  position: relative;
  top: -0.1em; /* Adjust the vertical position as needed */
  font-size: 15px; /* Adjust the font size as needed */
}

.superscript sup.min{
  font-size: 8px;
}

.grid_container .card_right_side p{
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin-top: 8px;
  color: rgba(43, 43, 43, 1);
  margin-left: 30px;
}

.grid_container .card_right_side .footer_slider{
  background: rgba(236, 34, 39, 1);
  width: 316px;
  display: flex;
}

.grid_container .card_right_side .footer_slider p{
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn{
  cursor: pointer;
  text-decoration: none;
}

.btn_slider{
  width: fit-content;
  height: 42px;
  background: rgba(43, 43, 43, 1);
  font-family: var(--font-family-poppins);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 15px;
  color: rgba(255, 255, 255, 1);
  margin-top: 48px;
  padding-right: 22px;
  padding-bottom: 1px;
  padding-left: 22px;
  margin-left: 30px;
  margin-bottom: 25px;
}

/*--------------------link----------------------*/
.filter_link{
  font-family: var(--font-family-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-left: 48%;
  transform: translate(-50%);
  color: rgba(104, 104, 104, 1);
  text-decoration: underline;
  margin-bottom: 84px;
}

/*---------------baneer-----------------*/

.banner_stan{
  background: rgba(246, 246, 246, 1);
}

.banner_container{
  padding-top: 82px;
  padding-bottom: 82px;
}
.banner{
  background: 
  linear-gradient(87.44deg, #000000 45.15%, rgba(0, 0, 0, 0) 65.44%),
    url(../img/banner_img.png) right no-repeat;
  font-family: var(--font-family-poppins);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.banner h1{
  margin-left: 105px;
  margin-top: 82px;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.banner p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  margin-left: 105px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 1);
}

.banner a{
  background: rgba(236, 34, 39, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  padding: 13px 52px;
  margin-left: 105px;
  margin-top: 60px;
  margin-bottom: 80px;
}



@media screen and (width >1750px){
  .banner{
    background: 
    linear-gradient(87.44deg, #000000 49.15%, rgba(0, 0, 0, 0) 65.44%),
      url(../img/banner_img.png) right no-repeat;
    font-family: var(--font-family-poppins);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and ( 1620px > width >1250px){
  .share_item{
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;
    background: none;
  
    padding:10px 80px;
    margin-top: 58px;
    margin-bottom: 74px;
    width: 100%;
  }

  .podeli_pretregu a img {
    width: 23px;
    height: 20px;
  }

}


@media screen and (width >1250px){
  .wrapper{
    width: 80%;
  }
  .filter_container{
    flex-wrap: nowrap;
  }
}

@media screen and (width <1250px){
  .share_item{
    font-family: var(--font-family-poppins);
    font-size: 14px;
    font-weight: 300;
    line-height: 18.2px;
    text-align: left;
    background: none;
  
    padding:10px 80px;
    margin-top: 0px;
    margin-bottom: 74px;
    width: 100%;
  }

  .cards{
    grid-template-columns: auto;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px){

  .filter_container{
    padding-top: 50px;
    padding-bottom: 50px;
}
  .filter_item {
    flex: 1 0 calc(33.333% - 20px); /* Adjust the width of each item to fit three items per row */
    margin: 10px; /* Add margin between items */
  }

  .cards{
    grid-template-columns: auto;
    justify-content: center;
  }
  .grid_container .card_left_side{
    height: 387px;
  }
  .btn_slider{
    padding-top: 10px;
  }

  .banner_container{
    padding-bottom: 50px;
  }
  .banner{
    background: 
    linear-gradient(90deg, #010101 5.44%, rgba(1, 1, 1, 0) 9.9%),
    url(../img/banner_img.png);
    background-position: 20%;
    box-shadow: inset 250px 0px 84px 64px rgba(1, 1, 1, 1);
  }
  .banner h1{
    margin-left: 50px;
    font-size: 28px;
  }
  .banner p{
    margin-left: 50px;
    font-size: 16px;
  }

  .banner .btn-red{
    margin-left: 50px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px){

  .header_content{
    padding-bottom: 150px;
  }

  .header_content h1{
    margin-top: 150px
  }

  .header_content p br{
    display: none;
  }




  /*---slider---*/

.cards{
  justify-content:center;
  align-items: center;
  width: 100%;
}

.grid_container {
  width: 100%; 
  height: auto; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.grid_container .card_left_side,
.grid_container .card_right_side {
  width: fit-content; 
  height: 50%; 
}

.grid_container .card_left_side img {
  width: 60%;
  height: 200px;
  max-width: none; 
  max-height: none;
}

.grid_container .card_right_side h2,
.grid_container .card_right_side .kvadratura,
.grid_container .card_right_side p,
.grid_container .card_right_side .btn_slider {
  margin-left: 10px;
  margin-top: 10px; 
}

.grid_container .card_right_side h2{
  padding-right: 100px;
}

.grid_container .card_right_side .footer_slider{
  width: 100%;
}

.grid_container .card_right_side .footer_slider p{
  font-size: 16px;
  margin-left: 10px;
}
.btn_slider{
  font-size: 14px;
  padding-top: 3px;
}

.filter_link{
  margin-left: 38%;
}

.banner{
  background: url(../img/banner_img.png) center no-repeat;
  box-shadow: inset 30px 0px 64px 44px rgba(1, 1, 1, 1);
}
.banner_container{
  padding-bottom: 0px;
}
.banner h1{
  margin-left: 25px;
  margin-top: 52px;
  font-size: 20px;
}

.banner p {
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  margin-left: 25px;
  margin-top: 11px;
  color: rgba(255, 255, 255, 1);
}

.banner .btn-red{
  margin-top: 102px;
  margin-left: 25px;
  margin-bottom: 22px;
  background: rgba(236, 34, 39, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  padding: 13px 52px;


}

#selectedItemsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}
#selectedItemsContainer p {
  background: rgba(246, 246, 246, 1);
  border: 1px solid;
  padding-block: 10px; 
  padding-left: 60px;
  color: rgba(63, 63, 63, 1);
  font-family: var(--font-family-poppins);
  display: flex;
  justify-content: space-between;
}

.close-icon{
  padding-left: 10px;
  padding-right: 30px;
  cursor: pointer;
  color: rgba(176, 176, 176, 1);
  width: 7.5px;
  height: 7.5px;
}



}

 